[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
opencv-python = "*"
numpy = "*"
rapidocr = "==3.9.2"
onnxruntime = "*"
selenium = "*"

[requires]
python_version = "3.14"
